html, body {
    height: 100%;
}

.preview-pane {
    position: relative;
    width: 100%;
    height: 100%;
}

.player-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1.5em;
    background-color: black;
}

.preview-pane .video-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 50px;
}

.preview-pane video {
    width: 100%;
    height: 100%;
}

.preview-pane .scrub {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: white;
}

.preview-pane .status-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1.5em;
    line-height: 1.5em;

    background-color: #D0CCCC;
}

.status-bar .progress {
    float: right;
    padding-right: 1em;
}

/***** adaptive css */
.show-loaded {
    display: none;
}
.loaded .show-loaded {
    display: initial;
}
.loaded .hide-loaded {
    display: none;
}
